{% extends 'base.html' %}

{% block title %}
    <title>About</title>
{% endblock title %}

{% block content %}
<div class="Home3">
    <ul style="margin-left: 39%; position: relative;">
        <h3 style="font-size: 50px; position: absolute; top:100px; color: #198754;">Team Members</h3>
        
        <li style="margin-left:5px; font-size: 30px; position: absolute; top:150px; color: #198754;"><p>Shaik Mohammed Shahab</p></li>
        <li style="margin-left:5px; font-size: 30px; position: absolute; top:200px; color: #198754;"><p>Sangipagi Raghavendra</p></li>
        <li style="margin-left:5px; font-size: 30px; position: absolute; top:250px; color: #198754;"><p>Vankayala Venkatesh</p></li>
        <li style="margin-left:5px; font-size: 30px; position: absolute; top:300px; color: #198754;"><p>Shaik Abdul Azeem</p></li>
    </ul>
    

    
    
</div>
{% endblock content %}